<!-- 
<launch>

    <node name="multi_fisheye_undistorter" pkg="image_processing" type="camera_fix.py" output="screen"/>

    <node name="image_sticher_GPU" pkg="image_processing" type="image_stitcher_GPU.py" output="screen">
        <param name="sub_camera_topic_left" value="/camera3_fix/color/image_raw/compressed"/>
        <param name="sub_camera_topic_mid" value="/camera2_fix/color/image_raw/compressed"/>
        <param name="sub_camera_topic_right" value="/camera1_fix/color/image_raw/compressed"/>
        <param name="pub_camera_topic" value="/camera_stitched/color/image_raw/compressed"/>
        <param name="output_dir" value="stitched_results"/>
        <param name="h1_path" value="stitched_results/homography/640_fisheye/H1_54.npy"/>
        <param name="h2_path" value="stitched_results/homography/640_fisheye/H2_54.npy"/>
    </node>

</launch> -->

<launch>
    <!-- 🟢 啟動 RTSP 相機 -->
    <node name="multi_rtsp_to_compressed_node" pkg="image_processing" type="rtsp_to_compressed_image.py" output="screen" />

    <!-- 🔵 魚眼去畸變 -->
    <node name="multi_fisheye_undistorter" pkg="image_processing" type="camera_fix.py" output="screen" />

    <!-- 🟣 GPU 拼接 -->
    <node name="image_stitcher_GPU" pkg="image_processing" type="image_stitcher_GPU.py" output="screen">
        <param name="sub_camera_topic_left" value="/camera3_fix/color/image_raw/compressed"/>
        <param name="sub_camera_topic_mid" value="/camera2_fix/color/image_raw/compressed"/>
        <param name="sub_camera_topic_right" value="/camera1_fix/color/image_raw/compressed"/>
        <param name="pub_camera_topic" value="/camera_stitched/color/image_raw/compressed"/>
        <param name="output_dir" value="stitched_results"/>
        <param name="h1_path" value="stitched_results/homography/640_fisheye/H1_17.npy"/>
        <param name="h2_path" value="stitched_results/homography/640_fisheye/H2_17.npy"/>
    </node>
</launch>
